# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Dados grandes (não incluir no build)
*.zip
data/
*.h5
*.pkl
*.model

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
